:root {
  --color: #000;
  --anchor-color: blue;
  --anchor-color-visited: purple;
  --bg: #f6f6f6;
  --bg-plain: #fff;
  --shadow-color: #bbb;
}

:root[data-theme='dark'] {
  --color: #dadada;
  --anchor-color: #739deb;
  --anchor-color-visited: #916aff;
  --bg: #202020;
  --bg-plain: #000;
  --shadow-color: #444;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg);
}

a {
  color: var(--anchor-color);
}

a:visited {
  color: var(--anchor-color-visited);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#editor-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 90vw;
  width: 100%;
}

#editor,
#preview {
  background-color: var(--bg-plain);
  color: var(--color);
}

#editor {
  resize: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 10px 0 0;
  padding: 10px;
  font-size: 1rem;
  max-height: 50vh;
  border: none;
  -webkit-box-shadow: inset 0 0 6px 1px var(--shadow-color);
  box-shadow: inset 0 0 6px 1px var(--shadow-color);
}

#editor:focus {
  -webkit-box-shadow: inset 0 0 3px 1px #dfdfdf;
  box-shadow: inset 0 0 3px 1px #dfdfdf;
}

#preview {
  padding: 0 20px;
  width: calc(100% - (20px * 2));
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

#buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 10px 0;
}

button {
  height: 3rem;
  width: 6rem;
  font-size: 1em;
  margin: 10px;
}

#theme-switch {
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  width: 30px;
  height: 30px;
  right: 7.5px;
  top: 7.5px;
  border: #2c2c2c solid 1px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}

:root[data-theme='dark'] #theme-switch {
  background-color: #fff;
}

#theme-switch:hover::before {
  content: '👉';
  -webkit-transform: translateX(-150%);
  -ms-transform: translateX(-150%);
  transform: translateX(-150%);
  font-size: 2rem;
}

#theme-switch-inner {
  display: none;
  background-color: var(--bg-plain);
  border-radius: 50%;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  #main {
    flex-direction: row;
    justify-content: center;
    align-items: start;
    margin: 0 20px;
  }

  #editor-container {
    min-width: 100px;
    max-width: 500px;
    margin-right: 20px;
  }

  #editor {
    font-size: 14px;
    min-height: 80vh;
    margin: 20px 0;
    padding: 20px;
  }

  #editor::-webkit-input-placeholder {
    padding: 10px;
  }

  #editor::-moz-placeholder {
    padding: 10px;
  }

  #editor:-ms-input-placeholder {
    padding: 10px;
  }

  #editor::-ms-input-placeholder {
    padding: 10px;
  }

  #editor::placeholder {
    padding: 10px;
  }

  #preview {
    min-width: 350px;
    max-width: 600px;
    border-radius: 20px;
    margin: 20px 0;
  }

  button {
    height: 4rem;
    width: 8rem;
    font-size: 1em;
  }

  #theme-switch {
    width: 16px;
    height: 16px;
    right: 15px;
    top: 15px;
  }

  #theme-switch:hover {
    width: 30px;
    height: 30px;
    right: 7.5px;
    top: 7.5px;
  }
}
